# R-related files
.Rhistory
.RData
.Rproj.user

# VS Code settings and launch configurations
.vscode/

# Log files and environment files
*.log
.env

# folders
intermediate-data/

# Ignore everything in the data/ folder
data/*

# But don't ignore .zip files in data/
!data/*.zip
